<h1>Add company</h1>

<form action="/add-company" method="post">
Name:
<input type="text" name="name">
Number of Employees: 
<input type="Number" name="number_of_employees">
Description:
<input type="text" name="description">
<button href="/add-company"> Create</button>
</form>
